.trade {
  position: relative;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  z-index: 11;

  // signals
  &__signals {
    position: relative;
    background-color: $gray00;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px 0;
    padding: 18px;

    &_close {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: $gray10;
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 2;
    }

    &_icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $gray10;
    }
  }

  //token
  &__token {
    display: flex;
    flex-direction: column;
    gap: 12px 0;

    &_top {
      display: flex;
      justify-content: space-between;
    }

    &_bottom {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
    }

    &_avatar {
      position: relative;
      min-width: 72px;
      max-width: 72px;
      min-height: 72px;
      max-height: 72px;
      background: linear-gradient(
        90deg,
        rgba(253, 255, 134, 1) 0%,
        rgba(160, 248, 153, 1) 50%,
        rgba(77, 182, 242, 1) 100%
      );
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        display: block;
        min-width: 66px;
        max-width: 66px;
        min-height: 66px;
        max-height: 66px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: $black;
        border-radius: 50%;
        z-index: 0;
      }

      img {
        position: relative;
        z-index: 1;
      }
    }

    &_info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px 0;
      margin-left: 10px;
    }

    &_title {
      font-size: 20px;
      font-weight: 700;

      span {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: $gray40;
        display: inline-block;
        margin-left: 4px;
      }
    }

    &_address {
      background-color: $gray00;
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      gap: 0 8px;
      height: 32px;
      padding: 0 12px;
      font-size: 14px;
      color: $gray30;

      button {
        line-height: 0;
      }
    }

    &_switcher {
      position: relative;
      display: inline-flex;
      align-items: center;
      background-color: $gray00;
      align-self: flex-start;
      border-radius: 50px;
      height: 32px;
      gap: 0 2px;
      padding: 0 2px;
      cursor: pointer;
      margin-left: auto;

      &::before {
        content: "";
        display: block;
        min-width: 28px;
        min-height: 28px;
        max-width: 28px;
        max-height: 28px;
        background-color: $gray20;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
      }

      &_state {
        min-width: 28px;
        min-height: 28px;
        max-width: 28px;
        max-height: 28px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }

    &_price {
      display: flex;
      align-items: center;
      gap: 0 12px;

      &_direction {
        display: inline-flex;
        align-items: center;
        height: 32px;
        border-radius: 8px;
        gap: 0 4px;
        background-color: $gray00;
        padding: 0 8px;
        font-size: 14px;
        font-weight: 500;
        color: $gray30;
        font-weight: 500;

        &_up {
          color: $green40;
        }

        &_down {
          color: $red40;
        }
      }
    }

    &_stats {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4px 0;
        font-size: 12px;
        color: $gray30;

        span {
          font-size: 16px;
          color: $white;
          font-weight: 500;
        }
      }
    }
  }

  // actions
  &__actions {
    background-color: $gray00;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px 0;
  }

  // tabs
  &__tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px 0;

    &__controls {
      display: inline-flex;
      align-items: center;
    }

    &__control {
      display: inline-flex;
      align-items: center;
      text-align: center;
      height: 44px;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 100px;
      color: $gray40;
      filter: grayscale(1);
      transition: all 0.3s ease 0s;
      cursor: pointer;

      &_active {
        background-color: $gray10;
        font-weight: 600;
        filter: grayscale(0);
      }

      &_buy {
        color: $green40;
      }

      &_sell {
        color: $red40;
      }
    }

    &__panels {
      position: relative;
    }

    &__panel {
      position: relative;
    }
  }

  // edit
  &__edit {
    position: relative;

    &_btn {
      min-width: 36px;
      max-width: 36px;
      min-height: 36px;
      max-height: 36px;
      background-color: $gray10;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &_choice {
      display: inline-flex;
      align-items: center;
      background-color: $gray10;
      height: 36px;
      border-radius: 50px;
      position: relative;

      &::after {
        content: "";
        height: 18px;
        width: 1px;
        background-color: $gray20;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
      }

      button {
        width: 35px;
        height: 36px;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &_tabs {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  // options
  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 0;
  }

  &__option {
    position: relative;
    width: calc(100% / 3);
    padding: 0 4px;

    button {
      height: 52px;
      width: 100%;
      font-weight: 600;
    }

    &_edit {
      position: relative;
      background-color: $black;
      border-radius: 12px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray40;
      font-size: 14px;
      gap: 0 5px;
      padding: 0 10px;

      i {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $gray10;
        border-radius: 12px;
        transition: all 0.3s ease 0s;
      }

      input {
        position: relative;
        border-radius: 0;
        height: auto;
        background-color: transparent;
        border: 0 none;
        color: $gray40;
        padding: 0;
        width: 50%;
        text-align: right;
        transition: all 0.3s ease 0s;
        z-index: 2;

        &:focus {
          color: $gray30;

          & ~ span {
            color: $gray30;
          }

          & ~ i {
            border-color: $gray20;
          }
        }
      }

      span {
        position: relative;
        display: inline-block;
        width: 50%;
        transition: all 0.3s ease 0s;
        z-index: 2;
      }
    }
  }

  // custom
  &__custom {
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 14px;

    button {
      flex: 1;
      height: 52px;
      white-space: nowrap;
    }

    &_value {
      position: relative;
      width: 154px;
      max-width: 45%;
      display: flex;
      align-items: center;
      background-color: $black;
      border-radius: 12px;
      height: 52px;
      padding: 0 15px;
      gap: 0 10px;

      input {
        position: relative;
        background-color: transparent;
        height: auto;
        border: 0 none;
        z-index: 1;
        text-align: right;
        padding: 0;
        border-radius: 0;
        order: 1;
        color: $gray40;
        transition: all 0.3s ease 0s;

        &:focus {
          color: $gray30;
          & ~ span {
            color: $gray30;
          }

          & ~ i {
            border-color: $gray20;
          }
        }
      }

      i {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $gray10;
        transition: all 0.3s ease 0s;
        z-index: 0;
        border-radius: 12px;
      }

      span {
        color: $gray40;
        transition: all 0.3s ease 0s;
        order: 2;

        &:nth-of-type(1) {
          order: 0;
        }
      }
    }
  }

  //shortcuts
  &__shortcuts {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    border: 1px solid $gray10;
    border-radius: 20px;
    padding: 14px 16px 16px;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h6 {
        font-weight: 500;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
    }
  }

  &__shortcut {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $gray100;
    white-space: nowrap;
    gap: 0 8px;

    @media only screen and (max-width: 399px) {
      gap: 0 4px;
      font-size: 12px;
    }

    &_combination {
      display: inline-flex;
      align-items: center;
      gap: 0 8px;
      border: 1px solid transparent;

      &_edit {
        border-color: $gray10;
        padding: 9px 10px;
        border-radius: 12px;
      }

      @media only screen and (max-width: 399px) {
        gap: 0 4px;
      }

      &_unit {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        color: $gray100;
        background-color: $gray00;
        gap: 0 6px;
        border-radius: 8px;
        height: 32px;
        padding: 0 8px;
      }
    }

    &_input {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 58px;
      max-width: 58px;
      text-align: center;
      gap: 0 2px;
      height: 52px;
      border-radius: 12px;
      padding: 0 10px;
      margin-left: auto;

      &_inverted {
        flex-direction: row-reverse;

        input {
          text-align: left !important;
        }
      }

      span {
        position: relative;
        color: $gray40;
        transition: all 0.3s ease 0s;
        z-index: 2;
      }

      i {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $gray10;
        border-radius: 12px;
        z-index: 0;
        transition: all 0.3s ease 0s;
      }

      input {
        color: $gray40;
        background-color: transparent;
        height: auto;
        border-radius: 0;
        border: 0 none;
        padding: 0;
        width: 44%;
        position: relative;
        z-index: 2;
        text-align: right;
        transition: all 0.3s ease 0s;

        @media only screen and (max-width: 399px) {
          font-size: 12px;
        }

        &:focus {
          color: $white;

          & ~ span {
            color: $white;
          }
          & ~ i {
            border-color: $gray20;
          }
        }
      }
    }
  }
}
